<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="storage type" value="mysql"/>
		<add key="storage configuration" value="server=localhost;user=root;password=;database=memes"/>
		<add key="target storage type" value="csv"/>
		<add key="target storage configuration" value="newMemes.csv"/>
	</appSettings>
</configuration>